{% extends "layout.twig" %}

{% block title %}FloofPal{% endblock %}
{% block content %}
    <h1>FloofPal</h1>
    <p>
        Customizable on-screen greetings whenever someone joins your Twitch chat.
    </p>
    <p class="text-center">
        <iframe src="https://clips.twitch.tv/embed?clip=CredulousEnergeticCroquetteWholeWheat" frameborder="0" allowfullscreen="true" height="378" width="620"></iframe>
    </p>
    <p>
        Made by and for furry Twitch streamers.
    </p>
    <p class="text-center">
        <a class="call-to-action" href="https://github.com/soatok/floofpal/releases">
            <i class="fa fa-download"></i> Latest Release
        </a>
        <a class="call-to-action" href="https://github.com/soatok/floofpal">
            <i class="fa fa-github"></i> FloofPal Source Code
        </a>
    </p>
{% endblock %}