{% extends "layout.twig" %}

{% block title %}Fursona Sticker Switcher{% endblock %}
{% block content %}
<h1>Fursona Sticker Switcher</h1>
<div class="bigger quote">
    <p>
        If you&hellip;
    </p>
    <ul>
        <li>Don't have a fursuit</li>
        <li>Don't have a FaceRig model</li>
        <li><strong>DO</strong> have your own Telegram stickers (or character stills)</li>
    </ul>

    <p>
        &hellip;and want to stream on Twitch or YouTue as your fursona,
        you'll definitely want to check out the <strong>Fursona Sticker Switcher.</strong>
    </p>
    <p class="text-center">
        <a class="call-to-action" href="https://github.com/soatok/fursona-sticker-switcher/releases">
            <i class="fa fa-github"></i> Get the Latest <em>Fursona Sticker Switcher</em> Release here
        </a>
    </p>
</div>
<p class="text-center">
    <img
        alt="Fursona Sticker Switcher screenshot"
        class="full-image"
        src="/static/projects/fursona-stickers-01.png"
    />
</p>
<h2>What Does the Fursona Sticker Switcher Do?</h2>
<p>
    If allows you to define one <strong>Image Source</strong> in OBS Studio or
    StreamLabs OBS, and swap out the image by clicking on the desired replacement
    image (or tapping on it, if you have a touchscreen device.)
</p>
<h2>Can I see it in Action?</h2>
<p class="text-center">
    <iframe
        src="https://player.twitch.tv/?autoplay=false&video=v386194819"
        frameborder="0"
        allowfullscreen="true"
        scrolling="no"
        height="378"
        width="620"
    ></iframe>
</p>
<h2>How much does it cost?</h2>
<p>
    <strong>$0. Totally free.</strong>
</p>
<p>
    Furthermore, the software is open source and available under the
    very permissive ISC license, so you're also free to download and
    revise the software to suit your own purposes.
</p>
<p>
    If you'd like to contribute financially to this and other projects,
    please remember that it's not compulsory.
</p>
<p>
    That said, Soatok has both
    <a href="https://www.paypal.me/soatok">PayPal</a> and
    <a href="https://www.patreon.com/soatok">Patreon</a>.
</p>
<p>
    Alternatively, if you're interested in the development of this and
    other software, you can always <a href="https://twitch.tv/soatok">tune into
    Soatok's Twitch channel</a>, where he usually streams his development
    of furry software projects.
</p>
<h2>Why have "Fursona" in the name?</h2>
<p class="bigger">
    Because furries improve everything!
</p>
<p>
    It's totally possible that this software will be useful outside of the
    furry fandom.
</p>
<p>
    Should that happen, I want it to be unapologetically furry so anyone who
    says to their audience, "Oh, I use $software_name" has to admit to using
    something developed by and for furries.
</p>
{% endblock %}