{% extends "layout.twig" %}

{% block title %}Hire Soatok Dreamseeker - Furry Freelancer{% endblock %}
{% block content %}
    <img src="/static/soatok-puzzled.png" alt="Soatok Puzzled" class="w-25 float-right article-image" />

    <h1>Soatok Dreamseeker</h1>

    <h2>Professional Furry</h2>

    <hr />

    <p>
        Every once in a while, someone asks me to help with an odd job.
        Usually it's something obscure, but it almost always involves
        web programming, application security, and/or cryptography.
    </p>

    <p>
        If you're starting or maintaining a website or service that considers
        members of the furry fandom to be a target audience, and you're
        interested in any of the following topics, I'm almost certainly the
        person you want to hire at some point to help out (in no particular order):
    </p>

    <ul>
        <li>Bug bounty programs</li>
        <li>TLS (HTTPS) configuration</li>
        <li>Secure password storage</li>
        <li>Encrypting data at rest</li>
        <li>Cryptographic protocol review</li>
        <li>Multi-factor authentication (HOTP, TOTP, FIDO U2F, WebAuthn; never SMS)</li>
        <li>Privacy design</li>
        <li>Secure web application development</li>
        <li>Table-stakes application security topics (OWASP Top 10)</li>
        <li>Basic security compliance requirements (PCI-DSS, FIPS-140, etc.)</li>
    </ul>

    <p>
        If you'd like to discuss working together, please feel free to reach out to me
        via Telegram, Twitter, or FurAffinity.
    </p>

    <hr />

    <h4>Payment Options</h4>

    <p>I currently only accept payment via Zcash and PayPal.</p>

    <blockquote>
        <strong>Soatok's Zcash address:</strong>{#
        #}<pre class="zec">zs16pjj7xnetd8c4t5p3glqxtcmk4f7zxaq7y7w3kunrmu954c69c3zyypd6g883y0l2rfssap23mj</pre>{#
    #}<strong>Soatok's PayPal address:</strong>{#
    #}<pre class="zec"><a href="https://www.paypal.me/soatok">https://www.paypal.me/soatok</a></pre></blockquote>

    <p class="text-center">
        <img src="/static/stickers/Soatok_STICKERPACK-HACKER.png" alt="Soatok at Computer" />
    </p>
{% endblock %}

{#
Hello,

If you're reading this, you're probably bored and looking for easter eggs in
my website's source code. Feel free to reach out to me on Telegram sometime.

I have a certain fondness for curious minds ^w^

~Soa
#}
