{% extends "layout.twig" %}

{% block content %}
    <h2>Welcome</h2>
    <p>
        This is the personal website of <strong>Soatok</strong>.
    </p>

    <div class="text-center">
    <picture>
        <img class="img-fluid w-50" src="/static/soatok-johis-responsive.jpg" alt="Soatok Dreamseeker, blue dhole furry" />
        <figcaption>
            This beautiful piece was created by <a href="http://johannatarkela.com">Johanna Tarkela</a>.
        </figcaption>
    </picture>
    </div>

    <hr />

    <p>
        This website serves as a sort of personal dumping ground for various
        essays, programming side-projects, and other such works.
    </p>
    <p>
        Most of the material on this website is provided for members of the
        furry community to enjoy.
    </p>

    <p>
        If you're looking for my Telegram sticker pack, click
        <a href="https://t.me/addstickers/SoatokDhole">here</a>.
    </p>
{% endblock %}