{% extends "layout.twig" %}

{% block title %}Soatok's Projects{% endblock %}
{% block content %}
    <h2>Soatok's Projects</h2>

    <p>
        Please use the left navigation bar to select a project.
    </p>

{% endblock %}