{% extends "layout.twig" %}

{% block content %}
    <h2>Signup for the Dreamseeker Den</h2>
    {% if error %}
        <p class="alert-error">{{ error|e('html') }}</p>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input
                class="form-control"
                id="username"
                name="username"
                placeholder="username"
                required="required"
                type="text"
                value="{{ post.username|e('html_attr') }}"
            />
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input
                aria-describedby="emailHelp"
                class="form-control"
                id="email"
                placeholder="user@email.com"
                required="required"
                type="email"
                value="{{ post.email|e('html_attr') }}"
            >
            <small id="emailHelp" class="form-text text-muted">
                This is only used for password recovery.
            </small>
        </div>
        <div class="form-group">
            <label for="passphrase">Passphrase:</label>
            <input
                aria-describedby="passphraseHelp"
                autocomplete="false"
                class="form-control"
                id="passphrase"
                name="passphrase"
                pattern="^.{12,}$"
                placeholder="At least 12 characters"
                required="required"
                type="text"
            />
            <small id="passphraseHelp" class="form-text text-muted">
                Must be at least 12 characters long. Password managers are highly recommended.
            </small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Register</button>
        </div>
    </form>
{% endblock %}