{% extends "layout.twig" %}

{% block title %}What Does Being a Furry Mean to You?{% endblock %}
{% block content %}
    <h2>What Does Being a Furry Mean to You?</h2>
    <p>
        Published: <time datetime="2018-07-21T12:00:00-05:00">July 21, 2018</time>
    </p>
    <div class="article-wrapper">
        {{ get_md('articles/furry-meaning.md') }}
    </div>
{% endblock %}