{% extends "layout.twig" %}

{% block title %}HTTP/1.1 404 Not Found{% endblock %}

{% block content %}
    <h2>Error 404</h2>
    <p class="text-center">
        <img
            class="article-image"
            src="/static/soatok-rileyartstuff.png"
            alt="Soatok is Confused. Art by @RileyArtStuff on Twitter."
            title="Soatok is Confused. Art by @RileyArtStuff on Twitter."
        />
        <hr />
        <em>Art by <a href="https://twitter.com/RileyArtStuff">Riley</a></em>
    </p>
    <p>
        The page you were looking for could not be found.
    </p>
{% endblock %}